<div class="text-bar">
  <div class="text-box">
    <div class="text">
      スクールチャットは学校ごとに登録したIDもと、
      先生と生徒、生徒と生徒どうしの安心なコミュニケーションをサポートします。<br>
      <br>
      <br>
      ■登録手順■<br>
      <br>
      ・学校IDを登録<br>
      ・先生のユーザー登録<br>
      ・先生がクラスを作り、生徒ID作成
    </div>
  </div>
</div>
<div class = "icon">
  <div id = "lottie">
    <ul class="gnav">
      <li>
        <div>
          <%= image_tag "logo-items/teacher-logo.png" , class: "image-size200" %>
        </div>
        <lottie-player src = "https://assets5.lottiefiles.com/packages/lf20_9wwkxefq.json"
          background = "transparent"  speed = "1"  style = "width: 12.5rem; height: 12.5rem;" hover loop >
        </lottie-player>
          <ul>
            <li><%= link_to "学校新規登録", new_school_path %></li>
            <li><%= link_to "先生新規登録", new_user_registration_path %></li>
            <li><%= link_to "ログイン", new_user_session_path %></li>
            <li><%= link_to "ルーム", rooms_path %></li>
          </ul>
      </li>
    </ul>
  </div>
  <div id = "lottie">
    <ul class="gnav">
      <li>
        <div>
          <%= image_tag "logo-items/students-logo.png" , class: "image-size200" %>
        </div>
        <lottie-player src = "https://assets4.lottiefiles.com/packages/lf20_bslbgeva.json"
          background = "transparent"  speed = "1"  style = "width: 12.5rem; height: 12.5rem;" hover loop >
          </lottie-player>
          <ul>
            <li><%= link_to "ログイン", new_student_path %></li>
            <li><%= link_to "ルーム", rooms_path %></li>
          </ul>
      </li>
    </ul>
  </div>
</div>