<div class="side-header">
  <div class="side-header-name">
    Name Nickname
  </div>
</div>
<div class="side-groups">
  <div>
    <%= link_to rooms_path do %>
      <%= image_tag "logo-items/RoomName-logo.png" , class: "image-side-menu-logo" %>
    <% end %>
  </div>
  <ul class="list-vertical">
    <ls>
      <%= link_to "Room-01", "#", class: "text" %>
    </ls>
    <ls>
      <%= link_to "Room-02", "#", class: "text" %>
    </ls>
        <ls>
      <%= link_to "Room-03", "#", class: "text" %>
    </ls>
        <ls>
      <%= link_to "Room-04", "#", class: "text" %>
    </ls>
  </ul>
</div>